@charset "ISO-8859-1";
body{
	background-image: url("https://images.alphacoders.com/780/780167.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	background-attachment: fixed;
	color: white;
}

.justify-content-end{
	background-color: #9086863d;
	color: white;
}
.nav-item a{
	color: white;
	font-weight: bold;
}
.nav-item a:hover{
	color: turquoise;
	font-weight: bold;
}
.nav-item span{
	background-color: #3c59e2;
	padding: 5px;
	margin: 5px;
	width: auto;
	height: auto;
	border: 1px solid blue;
    font-size: 10px;
    border-radius: 25px;
}
.nav-item span:hover{
	color: white; 
}
#box{
	height: 500px;
	border: 2px solid white;
	overflow-x: hidden;
    overflow-y: scroll;
	
}
#tableOrder{
	height: 438px;
	border: 2px solid white;
	overflow-x: hidden;
    overflow-y: scroll;
}
#mainItems{
	width: 300px;
}
#rowID{
	margin-right: 0px;
}
#info{
	position: relative;
	right: opx;
	width: 250px;
	padding: 0px;
}
.list-unstyled{
	background-color: white;
}
.container{
	max-width: 0px
}
img{
	width: 70px;
}
.form-group{
	margin: 20px;
}
#cardID{
	margin-bottom: 20px;
}